#img-bg{
  background-image: url(../../assets/img/imgblog.jpg);
  min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fs-54{
  font-size: 54pt;
}
.fs-18{
  font-size: 18pt;
}
