<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://avatars.githubusercontent.com/u/85457639?v=4" alt="imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Olá, Fulano <i class="fa fa-cog" aria-hidden="true"></i></p>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16" routerLink="/entrar" >Sair </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="bg-secondary">
<div class="row img-fluid">
  <div class="col-md-6 text-center">
    <p class="text-light fs-50">Seja bem <br> vindo(a)!</p>
    <p class="text-light fs-20">expresse aqui os seus <br> pensamentos e opniões!</p>
    <button class="p-3 m-3 bg-light border-light">Nova Postagem</button>
    <button class="p-3 m-3 bg-secondary border-dark">Ver Postagens</button>
  </div>
  <div class="col-md-6" id="img-bg">
  </div>
</div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row d-flex">
<p class="px-1 font-weight-bold">Todas as postagens</p> <p class="font-weight-bold">|</p> <p class="px-1 font-weight-bold">Minhas postagens</p></div>
</div>
